:root {
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Fabs */
.fab {
  border-radius: 100%;
  bottom: 1.5vh;
  font-size: 1rem;
  padding: 20px;
  position: fixed;
  right:2vw;
}
.fab-danger {
  border-radius: 100%;
  bottom: 1.5vh;
  font-size: 1rem;
  position: fixed;
  left:2vw;
  width: 60px;
  height: 60px;
}


